*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 230, 255);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}

/*img are display: inline by default*/
img {
    max-width: 100%;
    display: block;
}

.image-full {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 2em;
}

.arg-image {
    display: inline-block;
    max-width: 100%;
    max-height: 12px;
    object-fit: cover;
    margin-bottom: -0.1em;
}

.psg-image {
    display: inline-block;
    max-width: 100%;
    max-height: 22px;
    object-fit: cover;
    margin-bottom: -0.25em;
}

/* ==========
Typography
========== */

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    color: rgb(20, 55, 115);
    margin: 0;
}

.subtitle {
    font-size: 0.75rem;
    font-weight: 700;
    color: rgb(23, 146, 210);
    margin: 0;
    text-transform: uppercase;
}

.article-title {
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    padding-bottom: 1em;
}

.article-read-more,
.article-info {
    font-size: 0.875rem;
}

.article-read-more {
    color: rgb(23, 146, 210);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 5em;
}

.article-read-more:hover,
.article-read-more:focus {
    color: rgb(20, 55, 115);
    text-decoration: underline;
}

.article-info {
    margin: 1.5em 0;
}

.article-body {
    letter-spacing: 0.5px;
}

/* ==========
Layout
========== */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    background-color: rgb(245, 245, 250);
    padding: 1em 0;
    margin-bottom: 2em;
    text-align: center;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }

    header {
        padding: 2em 0;
    }
    
    .site-title {
        text-align: left;
    }
    
    .subtitle {
        padding-left: 0.2em;
    }
    
    .main-container {
        width: 70%;
    }
    
    aside {
        width: 25%;
    }
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    background: rgb(50, 50, 100);
    color: rgb(160, 160, 160);
    font-size: 0.8rem;
    padding: 1.5em 0;
}

.footer-title {
    color: rgb(200, 200, 200);
    margin-bottom: 0.1rem;
}

/* ==========
Navigation
========== */

nav {
    margin-top: auto;
    margin-bottom: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: rgb(60, 60, 80);
    font-weight: 700;
    padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
    color: rgb(23, 146, 210);
    border-bottom: 0.15rem solid rgb(60, 60, 80);
}

/* .current-page {} */

.current-page:hover {
    color: rgb(60, 60, 80);
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
        margin-top: 1em;
    }
    
    nav li {
        margin: 0.5em 0;
    }
}

/* articles */

.article-top {
    border-bottom: 0.1rem solid rgb(110, 110, 110);
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-content-main {
    order: 2;
}

.article-content-secondary {
    order: 1;
}

@media (min-width: 675px) {
    .article-title {
        font-size: 1.5rem;
    }
    
    .article-content {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .article-content-main {
        width: 70%;
    }
    
    .article-content-secondary {
        width: 25%;
    }
    
    .article-top {
        display: flex;
        flex-direction: column;
    }
    
    .article-image {
        order: -2;
    }
    
    .article-info {
        order: -1;
    }
    
    .article-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
    .image-big {
        width: 100%;
        height: 330px;
        object-fit: cover;
        object-position: top;
    }
}

/* widget */

.sidebar-widget {
    background-color: rgb(245, 245, 250);
    border: 1.3rem solid rgb(200, 200, 200);
    padding: 1em;
    margin-bottom: 2em;
}

.widget-post {
    border-bottom: 0.1rem solid rgb(110, 110, 110);
    padding-bottom: 1em;
    margin-bottom: 1.3em;
}

.widget-post-title {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.widget-title {
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgb(20, 55, 115);
    padding: 0;
    margin-bottom: 1em;
}

.widget-body {
    font-size: 0.9em;
}

.widget-body-first {
    margin-top: 0.7em;
}

.widget-post:last-child {
    border: 0;
    padding: 0;
}

.sidebar-widget a {
    text-decoration: none;
    color: rgb(20, 55, 115);
}

.sidebar-widget a:hover,
.sidebar-widget a:focus {
    color: rgb(23, 146, 210);
}

.widget-image {
    margin-bottom: 0.3em;
}

@media (min-width: 675px) {
    .widget-title {
        font-size: 1rem;
    }   
}




